table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;

  th,
  td {
    text-align: left;
    padding: 0.5rem 0;
  }

  th {
    font-weight: 600;
  }

  td {
    font-size: 0.85rem;
    min-width: 100px;
  }
}
