.course {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  background-color: #88888830;
  transition: all 0.3s ease-in-out;
  flex: 1;
  max-height: 225px;
  min-height: 225px;
  color: rgba(255, 255, 255, 0.796);
  border-bottom: 0.5rem solid #888;
  cursor: pointer;
  width: 100%;
  padding: 1.5rem;

  .average {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
  }

  &:hover {
    background-color: #88888860;
  }

  .code {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: .8rem;
    font-weight: 500;
  }

  .grade-badge {
    bottom: 20px;
    right: 20px;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #88888830;

    &.grade-badge--A {
      color: var(--grade-success);
    }

    &.grade-badge--B {
      color: var(--grade-ok);
    }

    &.grade-badge--C,
    &.grade-badge--D {
      color: var(--grade-warning);
    }

    &.grade-badge--Echec {
      color: var(--grade-danger);
    }
  }
}
