.future-course {
  .course__header {
    font-size: 1rem;
    cursor: default;

    p .future-course-date {
      font-size: 0.8rem;
      color: #fff;
      padding: 0.35rem 0.35rem;
      border-radius: .7rem;
      background-color: #54d15e;
      margin-left: 0.5rem;

      &.orange {
        background-color: #f5a623;
      }
    }
  }

  .course__soon {
    max-width: 15px;
    min-width: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #54d15e;
    animation: pulse 1.2s infinite;

    &.orange {
      background-color: #f5a623;
      animation: pulseOrange 1.2s infinite;
    }
  }
}

@media screen and (max-width: 540px) {
  .future-course-date {
    display: none;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(161, 250, 168, 0.7);
  }
  70% {
    transform: scale(0.98);
    box-shadow: 0 0 0 10px rgba(161, 250, 168, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(161, 250, 168, 0);
  }
}

@keyframes pulseOrange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(245, 166, 35, 0.7);
  }
  70% {
    transform: scale(0.98);
    box-shadow: 0 0 0 10px rgba(245, 166, 35, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(245, 166, 35, 0);
  }
}
