.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 95%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #8798f53d;
  will-change: transform;
  transform: rotate(3deg);
  top: -3px;
  left: -1px;
  border-radius: 75% 75% 75% 75% / 25% 25% 25% 25%;
  padding: 10px 3px 3px 10px;
}
