.page__title__container {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  flex-direction: column;
  color: var(--contrast-primary);

  .page__title {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .page__title__decoration {
    margin-top: 1.2rem;
    width: 100%;
    height: 2px;
    background-color: var(--contrast-primary);
  }

  .page__title__link {
    font-weight: 600;
    color: var(--contrast-primary);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 520px) {
  .page__title__container {
    margin-bottom: 2rem;
    .page__title {
      font-size: 1.5rem;
    }
  }
}
