.sidebar__toggle {
  position: fixed;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 100;

  button {
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: var(--color-primary-light);
    }

    &:focus {
      outline: none;
    }
  }
}
