@import "../extends";

.sidebar__item {
  height: calc(2.3rem + 2 * 1rem);
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-primary);
  font-size: 1.3rem;
  cursor: pointer;

  .sidebar__item__text {
    @extend .sidebar__title;
  }

  .sidebar__item__icon {
    @extend .sidebar__icon;
  }

  &.sidebar__item--active {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-primary-dark);
  }

  @extend .sidebar__item__general;
}
