.loading__spinner {
  width: 30px;
  height: 30px;
	margin: 0 auto;
  border-radius: 50%;
  border: 5px solid var(--contrast-primary);
  border-top-color: var(--color-primary-light);
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
