.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2.5rem;
  flex-wrap: wrap;

  &.is-semester-cards {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 820px) {
  .cards {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .cards {
    gap: 1rem;
  }
}
