* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.sh text eol=lf
*.yml text eol=lf
*.env text eol=lf
*.example text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore