.description {
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--contrast-secondary);
	text-align: justify;
}

.trouble {
	color: gray;
	font-size: 16px;
	display: block;
	margin-top: 4px;
	margin-left: 2px;
	cursor: pointer;
}

.trouble:hover {
	color: rgb(83, 83, 83);
}