@import "variables.scss";

.sidebar__title {
  font-size: $sidebar__title__size;
  font-weight: 400;
  color: var(--contrast-primary);
}

.sidebar__icon {
  justify-self: flex-start;
  fill: var(--contrast-primary);
}

.sidebar__item__general {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  max-height: 70px;
  transition: all 0.3s ease-in;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
